body {
  background-color: white;
}
/*Checkbox Style*****************************************************/
.checkbox {
  cursor: pointer;
  vertical-align: top;
  height: 20px;
  width: 20px;
}
/********************************************************************/
/*Button Style******************************************************/
.left-margin {
  margin-left: 20px;
}
/*******************************************************************/
/*Panel Style******************************************************/
.panel-heading {
  background-color: #36a9e1;
  color: white;
}

.panel-title {
  padding-top: 7px;
}

.maincontainer {
  border: none;
}

.maincontainerDashboard {
  border: none;
  margin: 3px;
}

.detailPanelContainer {
  border: solid 1px;
  border-color: lightgray;
  margin: 3px;
  min-width: 300px;
}

.detailPanelBody {
  overflow-y: auto;
  height: 100px;
  white-space: pre-line;
  padding: 5px;
}

.hideScroll {
  overflow-y: hidden;
  overflow-x: auto;
}

.panel-heading:before {
  content: " ";
  display: table;
}

.panel-heading:after {
  clear: both;
}
/********************************************************************/

/************************************************************DropDownStyle*/
.dropdown-menu {
  background-color: #185f7d;
  border: none;
}

.dropdown-menu li a {
  color: white;
}

.dropdown-menu li a:hover,
.dropdown-menu li a:active,
.dropdown-menu li a:focus {
  text-decoration: none;
  color: #fff;
  background: rgba(255, 255, 255, 0.2);
}
/************************************************************DropDownStyle*/
/* Sidebar Styles */

.sidebar-nav {
  top: 0;
  width: 300px;
  margin: 0;
  padding: 0;
  list-style: none;
  margin-top: 2px;
}

.sidebar-nav .subnav {
  top: 0;
  width: 300px;
  padding: 0;
  list-style: none;
  margin-top: 2px;
}

.sidebar-nav li {
  text-indent: 15px;
  line-height: 40px;
}

.sidebar-nav .subnav li a {
  display: block;
  text-decoration: none;
  border: none;
  border-bottom: rgba(255, 225, 225, 0.08) 1px solid;
  color: #999999;
  padding-left: 30px;
}

.sidebar-nav li a {
  display: block;
  margin-top: 5px;
  text-decoration: none;
  color: #999999;
}

/*Active menu or hover effect*/
.subnav li.selected a,
.sidebar-nav li a:hover {
  text-decoration: none;
  color: #fff;
  background: rgba(255, 255, 255, 0.2);
  border-left: red 2px solid;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
  height: 65px;
  font-size: 18px;
  line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
  color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
  color: #fff;
  background: none;
}

.loginStyleLabel {
  cursor: pointer;
}

/*TOP navbar********************************************************/
.navbar {
  background-color: #185f7d;
}
/*DropDown Menu*/
.navbar-nav i {
  font-size: 14px;
  padding-right: 10px;
}

/*Collapse Button*/
.navbar-toggle span {
  color: white;
}

/*Menu Text and hover Effect*/
.navbar-brand,
.navbar-brand:hover,
.navbar-brand:active,
.navbar-brand:focus {
  color: white;
}

.navbar-nav > li > a,
.navbar-nav a {
  color: white;
  font-size: 14px;
  font-weight: normal;
  font-family: "Instrument Sans";
}

.navbar-nav > li > a,
.navbar-nav > li > a:active,
.navbar-nav > li > a:hover,
.navbar-nav > li > a:focus {
  color: white;
  font-size: 12px;
  background-color: inherit !important;
}

/*Label And Image between size*/
.navbar-nav > li > a label {
  padding-left: 10px;
}
/*login partial margin right */
.navbar-nav > li > a strong {
  margin-right: 25px;
}

.img-circle {
  height: 30px;
  width: 30px;
  padding: 0;
  margin-top: -5px;
}

#logoImg {
  width: 160px;
  margin: 20px;
}

/*TOP navbar********************************************************/

.notify-body {
  color: white;
  border: none;
  border-bottom: 1px solid #cdd1da !important;
}

.notify-body i {
  font-size: 9px;
}

.notification {
  display: inline-block;
  position: relative;
  font-size: inherit !important;
  padding-right: 0 !important;
}

.notification::before {
  display: block;
  transform-origin: top center;
}

.notification::after {
  font-family: "Instrument Sans";
  font-size: 0.5em;
  font-weight: 700;
  position: absolute;
  top: -10px;
  right: -15px;
  padding: 4px 8px;
  line-height: 100%;
  border: 2px #fff thin;
  border-radius: 50px;
  background: #3498db;
  opacity: 0;
  content: attr(data-count);
  opacity: 0;
  -webkit-transform: scale(0.5);
  transform: scale(0.5);
  transition: transform, opacity;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}

.notification.notify::before {
  -webkit-animation: ring 1.5s ease;
  animation: ring 1.5s ease;
}

.notification.show-count::after {
  -webkit-transform: scale(1);
  transform: scale(1);
  opacity: 1;
}

@-webkit-keyframes ring {
  0% {
    -webkit-transform: rotate(35deg);
  }

  12.5% {
    -webkit-transform: rotate(-30deg);
  }

  25% {
    -webkit-transform: rotate(25deg);
  }

  37.5% {
    -webkit-transform: rotate(-20deg);
  }

  50% {
    -webkit-transform: rotate(15deg);
  }

  62.5% {
    -webkit-transform: rotate(-10deg);
  }

  75% {
    -webkit-transform: rotate(5deg);
  }

  100% {
    -webkit-transform: rotate(0deg);
  }
}

@keyframes ring {
  0% {
    -webkit-transform: rotate(35deg);
    transform: rotate(35deg);
  }

  12.5% {
    -webkit-transform: rotate(-30deg);
    transform: rotate(-30deg);
  }

  25% {
    -webkit-transform: rotate(25deg);
    transform: rotate(25deg);
  }

  37.5% {
    -webkit-transform: rotate(-20deg);
    transform: rotate(-20deg);
  }

  50% {
    -webkit-transform: rotate(15deg);
    transform: rotate(15deg);
  }

  62.5% {
    -webkit-transform: rotate(-10deg);
    transform: rotate(-10deg);
  }

  75% {
    -webkit-transform: rotate(5deg);
    transform: rotate(5deg);
  }

  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}

.form-notification {
  padding: 1em;
  min-width: 350px;
  background-color: #185f7d;
}

/* Toggle Styles - ADMIN AREA ONLY - NO COLLAPSING */
body.admin-area #wrapper {
  padding-left: 300px !important;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

body.admin-area #wrapper .navbar {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

/* FORCE admin sidebar to always be expanded - no collapse functionality */
body.admin-area #sidebar-wrapper {
  position: fixed;
  left: 0;
  width: 300px !important;
  top: 0;
  height: 100%;
  margin-left: 0 !important;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #25272a;
  border-right: 1px solid #eee;
  z-index: 10001;
}

body.admin-area #page-content-wrapper {
  width: 100%;
  position: relative;
  padding: 30px;
  padding-top: 80px;
  margin-top: 0;
  margin-left: 0 !important;
  margin-right: 0 !important;
  min-height: calc(100vh - 60px);
  box-sizing: border-box;
}

body.admin-area .navbar {
  position: fixed;
  top: 0;
  left: 300px !important;
  width: calc(100% - 300px) !important;
  padding-left: 0 !important;
  z-index: 10000;
  min-height: 60px;
}

/* Admin-specific responsive behavior */
@media (min-width: 768px) {
  body.admin-area #wrapper {
    padding-left: 300px !important;
  }

  body.admin-area .navbar {
    left: 300px !important;
    width: calc(100% - 300px) !important;
    padding-left: 0 !important;
  }

  body.admin-area #sidebar-wrapper {
    width: 300px !important;
    left: 0 !important;
    margin-left: 0 !important;
  }

  body.admin-area #page-content-wrapper {
    padding: 30px;
    padding-top: 80px;
    position: relative;
    margin-right: 0 !important;
    margin-left: 0 !important;
    margin-top: 0 !important;
  }

  .detailPanelContainer {
    min-width: 150px;
  }
}

@media (max-width: 1350px) {
  body.admin-area .col-lg-6 {
    width: 100%;
  }
}

/* Fix for Bootstrap col-md-6 width override affecting command and other admin pages */
@media (min-width: 992px) {
  body.admin-area .col-md-6 {
    width: 50% !important;
    float: left;
  }
  
  /* Ensure panels and containers within col-md-6 don't overflow */
  body.admin-area .col-md-6 .detailPanelContainer,
  body.admin-area .col-md-6 .panel {
    max-width: 100%;
    box-sizing: border-box;
  }
}

/* Fix admin col-md-4 */
@media (min-width: 992px) {
  body.admin-area .col-md-4 {
    width: 33.33333333% !important;
    float: left;
  }
}

/* Prevent tables from collapsing incorrectly with navbar */
body.admin-area .table-responsive {
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

body.admin-area table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
  box-sizing: border-box;
}

/* Ensure DataTables work properly in admin */
body.admin-area .dataTables_wrapper {
  width: 100%;
  box-sizing: border-box;
}

body.admin-area .dataTables_wrapper table {
  width: 100% !important;
}

/* Fix row spacing in admin */
body.admin-area .row {
  margin-left: -15px;
  margin-right: -15px;
}

/* Ensure panels don't overflow */
body.admin-area .panel,
body.admin-area .detailPanelContainer {
  box-sizing: border-box;
  max-width: 100%;
}

#go-top-button {
  display: inline-block;
  background-color: rgba(75, 75, 75, 0.33);
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition:
    background-color 0.3s,
    opacity 0.5s,
    visibility 0.5s;
  opacity: 0;
  visibility: hidden;
  z-index: 999999;
}

#go-top-button::after {
  font-family: "Instrument Sans";
  content: "\f077";
  font-weight: 900;
  font-size: 2em;
  line-height: 50px;
  color: #fff;
}

#go-top-button:hover {
  cursor: pointer;
  background-color: #333;
}

#go-top-button:active {
  background-color: #555;
}

#go-top-button.show {
  opacity: 1;
  visibility: visible;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background: rgba(153, 153, 153, 0.5);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(153, 153, 153, 0.5);
}

.alertify .ajs-dimmer {
  background-color: #000;
  opacity: 0.5;
}

.alertify .ajs-dialog {
  max-width: 600px;
  min-height: 122px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  border-radius: 6px;
}

.alertify .ajs-header {
  color: #333;
  border-bottom: 1px solid #e5e5e5;
  border-radius: 6px 6px 0 0;
  font-family: "Instrument Sans", sans-serif;
  font-size: 18px;
}

.alertify .ajs-body {
  font-family: "Instrument Sans", sans-serif;
  color: black;
}

.alertify.ajs-resizable .ajs-content,
.alertify.ajs-maximized:not(.ajs-resizable) .ajs-content {
  top: 58px;
  bottom: 68px;
}

.alertify .ajs-footer {
  background-color: #fff;
  padding: 15px;
  border-top: 1px solid #e5e5e5;
  border-radius: 0 0 6px 6px;
}

.alertify-notifier .ajs-message {
  background: rgba(255, 255, 255, 0.95);
  color: #000;
  text-align: center;
  border: solid 1px #ddd;
  border-radius: 2px;
}

.alertify-notifier .ajs-message.ajs-success {
  color: #fff;
  background: rgba(91, 189, 114, 0.95);
  text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.5);
}

.alertify-notifier .ajs-message.ajs-error {
  color: #fff;
  background: rgba(217, 92, 92, 0.95);
  text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.5);
}

.alertify-notifier .ajs-message.ajs-warning {
  background: rgba(252, 248, 215, 0.95);
  border-color: #999;
}

/*Circliful and tables*/
.circliful {
  position: relative;
  margin: auto;
}

.circle-text,
.circle-info,
.circle-text-half,
.circle-info-half {
  width: 100%;
  position: absolute;
  text-align: center;
}

.circle-info,
.circle-info-half {
  color: #999;
  margin-top: 5px;
  font-size: 12px;
}

/*Tables */
.smallTable {
  width: 100%;
  table-layout: fixed;
  white-space: nowrap;
  margin: -5px;
}

.smallTable tbody tr td {
  font-size: 12px;
  border: none;
  line-height: 1px;
  overflow-wrap: normal;
}

.borderless tbody td,
.borderless tbody tr td th {
  border: none;
}

.borderlessDetail tbody tr td {
  border: none;
}

tr.collapsable:hover {
  background-color: rgba(0, 0, 0, 0.06);
}

tr.collapsable {
  cursor: pointer;
}

/*Additional*/
span.fa.fa-2x.fa-sync.pull-right {
  cursor: pointer;
}
